/* ------ Browser CSS Reset ------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  box-sizing: border-box;
	vertical-align: baseline;
}
    /* Older Browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
  list-style-type: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  scroll-behavior: smooth;
}

section {
  position: sticky;
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.scroll-container {

}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  max-width: 100%;
  height: 100vh;
}

.js-scroll {
  max-width: 50%;
  height: auto;
  background-color: blue;
  transition: background-color 500ms;
}

.js-scroll.scrolled {
  background-color: aquamarine;
}

.scroll-caption {
  /* animation: fade-in 1s ease-in-out both; */
}







/*  --- KEYFRAMES ---  */
@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.stolenBronzesContainer {
  /* position */
  width: 100vw;
  height: 100vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
  /*background*/
  background-color: white;
  /* background-image: url(https://static01.nyt.com/images/2020/01/29/opinion/29Ehikhamenor1/merlin_165734295_cd0ed8e7-66c6-4301-ace8-4665ad821374-superJumbo.jpg?quality=90&auto=webp); */
  background-size: cover;
  background-repeat: no-repeat; 
}


.navButton {
  /* position */
  position: absolute;
  transform: scale(1);
  z-index: 2;
  height: 80%;
  max-width: 100%;
  padding: 4%;
  margin: 2% 0 0 46% ;
    /* font style */
  font-family: 'Playfair Display','Roboto', sans-serif;
  font-size: 175%;
  letter-spacing: 4.7px;
  color: rgb(255,255,255);
  /* font position */
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
  text-align: center;
  /* border */
  border-style: solid;
  border-color: rgb(0,0,0);
  border-width: 5px 5px 5px 5px;
  /* background */
  background-color: rgb(0,0,0);
}

.navPurpleContainer {
  position: absolute;
  top: 0;
  left: 0;
  /* padding: 4% 3% 0% 5%; */
  transform: translate(20%, 10%);
  max-width: 40%;
  /* height: auto; */
  /* filter: contrast(.98); */
  /* animation: fade-in 4s ease-in-out both; */
}
.navPurpleImg {

}


.navFrameLeftContainer {
  position: absolute;
  top: 0;
  left: 0;
  /* padding: 4% 3% 0% 5%; */
  transform: scale(.8) translate(97.5%, -4.5%);
  max-width: 40%;
  height: auto;
  /* filter: contrast(.98); */
  /* animation: fade-in 4s ease-in-out both; */
}
#navFrameLeftImg {
  max-width: 100%;
  height: auto;
}


.navToolbar {
  /*viewport*/
  display: none;
  /*position*/
  max-width: 200px;
  height: 200px;
  margin-top: -624px;
  margin-left: 1451px;
  position:;
  /*border*/
  border-style: solid;
  /*background*/
  background-color: red;
} 

.navHeader {
  /*viewport*/
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 1.7px;
  text-align: end;
  max-width: 300px;
  height: 300px;
  margin-top: -580px;
  margin-left: 1451px;
  margin-bottom:;
  transition:;
  background-color: rgb(255,255,255);
  border-style:none;
  border-color: rgb(0,0,0);
  z-index: 1;
}

.one {

}

#introParaContainer {
  max-width: 45%;
  margin: 15% 0 0 0;
  height: auto;
  padding: 20% 1% 1% 3%;
}

#introPara {
  /* position */
  padding: 7%;
  max-width: 100%;
  /*font-style*/
  font-family: 'Roboto', sans-serif;
  font-size: 175%;
  letter-spacing: 10px;
  text-transform: uppercase;
  /*font-position*/
  text-align: center;
  /* border */
  border: 2px solid black;
}

#subIntroPara {
  max-width: 60%;
  padding: 5%;
  margin: -13.5% 0 0 45%;
  /*font-style*/
  font-family: 'Roboto', sans-serif;
  font-size: 175%;
  letter-spacing: 1.7px;
  /*font-position*/
  text-align: justify;
  /* border */
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

img {
  max-width: 100%;
}
.two {
  min-width: 100vw;
  height: 100vh;
}
.beninBronzeImage {
  /*image style*/
  max-width: 100%;
  height: 700px;
  margin-top: 325px;
  /*border*/
  border-style: solid;
  border-color: rgb(255,255,255);
  /*background*/
  background-image: url(https://www.nurhitoolkit.org/sites/default/files/styles/gallery_full/public/One%20of%20the%20Ancient%20Benin%20Bronze%20statue_0.jpg?itok=XTogp8-d);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
}

.beninBronzeImageCaption {
  /*font style*/
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 1.7px;
  color: rgb(5,5,16);
  /*position*/
  text-align: center;
}


.three {
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.peopleIntro {
  /*font style*/
  font-family: 'Bodoni Moda','Catamaran','Cormorant Garamond', sans-serif;
  font-size: 5.5em;
  letter-spacing: 2.7px;
  /*position*/
  text-align: center;
  padding-top: 20%;
}

.subPeopleIntroLeft {
  /*font style*/
  font-family: 'Roboto', sans-serif;
  font-size: 1.45em;
  letter-spacing: 1.7px;
  /*position*/
  text-align: justify;
  max-width: 680px;
  margin: 3% 0 0 18%;
}

.subPeopleIntroRight {
  /*font style*/
  font-family: 'Roboto', sans-serif;
  font-size: 1.45em;
  letter-spacing: 1.7px;
  /*position*/
  text-align: center;
  max-width: 650px;
  margin: 1% 0 0 39%;
}

.beninFactsBackground {
  /*position*/
  max-width: 1897px;
  height: 980px;
  margin-left: -8px;
  margin-top: 310px;
  /*background*/
  background-color: rgb(5,5,8);
  /*border*/
  border-style: solid;
  border-color: rgb(5,5,10);
}

.beninFactsHeader {
  /*font style*/
  font-family: 'Bodoni Moda', sans-serif;
  font-size: 90px;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: rgba(255,255,255);
  /*position*/
  text-align: center;
  max-width: 100%;
  height:;
  margin-top: -20px;
  margin-left: 85px;
  /*border*/
  border-style:;
  border-color: rgba (230, 203, 123, 1);
 }.beninFactsHeader p:hover {
  color: rgba(230,203,123,1);
}

.beninFactsParagraphLeft {
 /*font style*/
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  letter-spacing: 1.7px;
  color: rgb(255,255,255);
 /*position*/
  max-width: 150px;
  height: 450px;
  text-align: end;
  margin-top: 170px;
  margin-left: 555px;
  /*border*/
  border-style: ;
  border-color: white;
}

.beninFactsParagraphLeftCenter {
 /*font style*/
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  letter-spacing: 1.7px;
  color: rgb(255,255,255);
 /*position*/
  max-width: 230px;
  height: 450px;
  text-align: start;
  margin-top: -466px;
  margin-left: 720px;
  /*border*/
  border-style: ;
  border-color: white;
}

.beninFactsParagraphRight {
    /*font style*/
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  letter-spacing: 1.7px;
  color: rgb(255,255,255);
 /*position*/
  max-width: 150px;
  height: 450px;
  text-align: end;
  margin-top: -467px;
  margin-left: 965px;
  /*border*/
  border-style: ;
  border-color: white;
}

.beninFactsParagraphRightCenter {
  /*font style*/
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  letter-spacing: 1.7px;
  color: rgb(255,255,255);
 /*position*/
  max-width: 250px;
  height: 450px;
  text-align: start;
  margin-top: -466px;
  margin-left: 1130px;
  /*border*/
  border-style: ;
  border-color: white;
}

.cityBeninBackground {
  /*position*/
  max-width: 1903px;
  height: 990px;
  margin-top:-120px;
  margin-left: -8px;
  margin-bottom:;
  /*border*/
  border-style:;
  border-color:;
  /*background*/
  background-color: rgba(255,255,255);
  background-size: 100% 100%;
}

.cityBeninHeader {
  /*font style*/
  font-family: 'Old Standard TT', sans-serif;
  font-size: 130px;
  text-align: center;
  text-transform:;
  color: rgba(8,15,60,1);
  /*position*/
  max-width: 800px;
  height: 400px;
  margin-top: 250px;
  margin-left: 550px;
  /*border*/
  border-style:;
  border-color:;
}

.cityParaHeader {
 /*font style*/
  font-family: 'Roboto', sans-serif;
  font-size: 16.5px;
  letter-spacing: 1.7px;
  color: rgb(0,0,0);
  /*position*/
  text-align: center;
  max-width: 1800px;
  margin-top: -120px;
  margin-left: -500px;  
}

.quotationsPLL {
  /*font style*/
  font-family: 'Catamaran', sans-serif;
  font-size: 150px;
  /*position*/
  margin-top:;
  margin-left: -1300px;
  margin-bottom: 240px;
}

.cityParaLeft {
  /*font style*/
  font-family: 'Old Standard TT', sans-serif;
  font-size: 20px;
  letter-spacing: px;
  /*position*/
  text-align: center;
  max-width: 450px;
  margin-top: -400px;
  margin-left: 300px;
  margin-bottom:;
}

.quotationsPLR {
  /*font style*/
  font-family: 'Catamaran', sans-serif;
  font-size: 150px;
  /*position*/
  margin-top: -230px;
  margin-left: -200px;
}

.cityDivider {
  /*font style*/
  font-family: 'Old Standard TT', sans-serif;
  font-size: 500px;
  /*position*/
  max-width: 500px;
  height: 1000px;
  margin-top: -900px;
  margin-left: 760px;
  margin-bottom:;
  /*border*/
  border-style:;
  border-color:;
}

.quotationsPCL {
  /*font style*/
  font-family: 'Catamaran', sans-serif;
  font-size: 150px;
  /*position*/
  margin-top: -500px;
  margin-left: 420px;
  margin-bottom:;
}

.cityParaCenter {
  /*font style*/
  font-family: 'Old Standard TT', sans-serif;
  font-size: 20px;
  letter-spacing: px;
  /*position*/
  max-width: 300px;
  height:;
  text-align: start;
  margin-top: -300px;
  margin-left: 1150px;
  margin-bottom: ;
}

.quotationsPCR {
  /*font style*/
  font-family: 'Catamaran', sans-serif;
  font-size: 150px;
  /*position*/
  margin-top: -230px;
  margin-left: 1200px;
  margin-bottom:; 
}

.coastBeninBackground {
  /*background*/
  background-image: url(https://cdn2.wanderlust.co.uk/media/1010/shutterstock_1468473773.jpg?anchor=center&mode=crop&width=1920&height=858&format=auto&rnd=132624217470000000);
  background-size: 100% 100%;
  /*position*/
  max-width: 100%;
  height: 100vh;
  margin-top: 800px;
  margin-left: -8px;  
}

.coastBeninIntro {
  /*font-style*/
  font-family: 'Playfair Display','Catamaran', sans-serif;
  font-size: 173.5px;
  text-transform: uppercase;
  color: rgb(255,255,255);
  /*position*/
  text-align: justify;
  margin-top: -950px;
  margin-left: 200px;
}

.subCoastBeninIntro {
  /*font style*/
  font-family: 'Old Standard', sans-serif;
  font-size: 17px;
  letter-spacing: 1.7px;
  color: rgb(255, 255, 255);
  /*position*/
  max-width: 850px;
  height:;
  text-align: start;
  margin-top: -100px;
  margin-left: 200px;
  margin-bottom:;
}

.womanAndChild {
  /*font style*/
  /*position*/
  max-width: 1225px;
  height: 1009px;
  margin-top: -1009px;
  /*background*/
  background-color: rgb(255, 255, 255);
  /*border*/
  border-style: solid;
  border-color: rgb(255,255,255);
}

.womanAndChildImage {
  /*background*/
  background-image: url(https://live.staticflickr.com/7307/8728623792_e04de28718_b.jpg);
  background-size: 100% 100%;
 /border*/
  border-style:;
  /position*/
  max-width: 1024px;
  height: 1009px;;
  margin-top:;
  margin-left: 877px;
}

#introImage {
  max-width: 100%;
  align: ;
}

#introImageCaption {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: black;
  max-width: 100%;
  height: 20px;
  margin: 10px;
  background-color: rgb(255,255,255);
}